configMapGenerator:
- files:
  - application.yml
  name: 82249961-configmap
resources:
- ../../base
- pvc.yaml
patchesStrategicMerge:
- deployment.yaml
- ingress.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: prod-
images:
- name: ce82249961acr.azurecr.io/82249961
  newTag: "202411040916"
